* {
  margin: 0;
  padding: 0;
}
body {
  --first-font: Arial, Helvetica, sans-serif;
  font-family: var(--first-font);
  font-size: 1.2rem;
  background: #eee;
}
.header {
  background: #fb1;
  padding: 0.8rem;
  text-align: center;
  color: white;
  font-weight: bold;
}
.title {
  padding: 0.5rem;
}
.container {
  max-width: 40rem;
  margin: 1rem auto;
}
.form {
  width: 100%;
  background: white;
  padding: 1rem;
  border: 2px solid #333;
  border-radius: 0.5rem;
}
.data {
  display: grid;
  margin-top: 0.5rem;
}
.data input {
  outline: none;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
}
.buttons {
  margin-top: 1rem;
}
.buttons button {
  background: #fb1;
  font-family: var(--first-font);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.7rem;
  margin-right: 0.5rem;
  font-weight: bolder;
  border-radius: 0.5rem;
  color: white;
  border: 2px solid #eee;
  transition: 0.3s;
}

.buttons button:hover {
  background: #fba;
  color: #aaa;
}
.table {
  margin-top: 1rem;
  border: 2px solid #333;
  text-align: center;
  border-radius: 0.5rem;
  border-collapse: collapse;
  width: 100%;
}
.table tr,
td {
  border: 2px solid #333;
}
.head {
  background: rgba(51, 51, 51, 0.671);
  padding: 0.4rem;
}
