* {
  margin: 0;
  padding: 0;
}
body {
  --first-font: Arial, Helvetica, sans-serif;
  font-family: var(--first-font);
  font-size: 1.2rem;
  background: #eee;
}
.header {
  background: #fb1;
  padding: 0.8rem;
  text-align: center;
  color: white;
  font-weight: bold;
}
.title {
  padding: 0.5rem;
}
.container {
  max-width: 40rem;
  margin: 1rem auto;
}
.form {
  width: 100%;
  background: white;
  padding: 1rem;
  border: 2px solid #333;
  border-radius: 0.5rem;
}
.data {
  display: grid;
  margin-top: 0.5rem;
}
.data input {
  outline: none;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
}
